main {
  height: 100%;
}

.imgContainer {
  display: flex;
  width: 100vw;
  height: 743px;
  background: rgba(16, 144, 203, 0.1);
}
.left {
  display: flex;
  flex-direction: column;
  margin-left: 123px;
  margin-top: 128px;
}
.totalText {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}
.specialText {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;

  color: #1090cb;
}
.platforms_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 204.3%;
  color: #5c5c5c;
  margin-top: 16px;
}
.contact_us_button {
  width: 193px;
  height: 51px;
  background: #1090cb;
  border-radius: 10px;
  border: 0;
  outline: none;
  color: #fff;
}
.view_more_button {
  width: 193px;
  height: 51px;
  background: #ffffff;
  border: 1px solid #1090cb;
  border-radius: 10px;
  outline: none;
  color: #1090cb;
  margin-left: 15px;
}

.rightImg {
  position: absolute;
  right: 0;
  justify-content: flex-end;
  display: flex;
  bottom: -15%;
}
.leftImg {
  position: absolute;
  left: 0;
  bottom: -27%;
}
.rightImg2 {
  position: absolute;
  right: 10%;
  top: 40%;
}
.rightImg3 {
  position: absolute;
  right: 10%;
  bottom: 0;
}
.banner {
  width: 100%;
  border-bottom: 0.7px solid #c7c7c7;
  padding: 43px 130px 43px 123px;
  display: flex;
  justify-content: space-between;
}
.banner_list {
  display: flex;
  align-items: center;
}
.imgBody {
  width: 83px;
  height: 83px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.simpleText {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 175%;
  color: #000000;
}
.miniText {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 175%;
  color: #969696;
}
.textBody {
  margin-left: 1rem;
}
.product_about {
  width: 100%;
  position: relative;
  padding: 115px 129px 123px 44px;
}
.productAboutText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.loremTextBig {
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 160%;
  text-align: center;
  color: #252525;
}
.loremTextSmall {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  text-align: center;
  color: #868686;
  margin-top: 32px;
}
.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cardLeft {
  display: flex;
  flex-direction: column;
  margin-top: 115px;
}
.cardHeader {
  display: flex;
  align-items: center;
}

.happyImgBody {
  width: 58px;
  height: 58px;
  background: #08d3bb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.loremTest {
  margin-left: 25px;
}
.dummyText {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 175%;
  color: #000000;
}
.simplyText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  color: #868686;
}
.cardImg {
  margin-top: 55px;
}
.notificationBoxes {
  width: 100%;
  padding: 0px 123px;
  display: flex;
}
.notificationBoxOne {
  width: 572px;
  height: 459px;
  background: #f4f4f4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-right: 50px;
}
.notificationBoxTwo {
  width: 572px;
  height: 459px;
  background: #1090cb;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}
.notificationText {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #252525;
}
.notificationTextLorem {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: #545454;
  margin-top: 36px;
}
.viewMoreButton {
  width: 153px;
  height: 49px;
  background: #1090cb;
  border-radius: 10px;
  border: 0;
  color: white;
  margin-top: 36px;
}
.viewMoreButtonDark {
  width: 153px;
  height: 49px;
  background: color;
  border-radius: 10px;
  border: 0;
  color: #1090cb;
  margin-top: 36px;
}
.notificattionIcon {
  position: absolute;
  top: -77px;
  right: 0;
}
.company {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0px 200px;
  margin-top: 184px;
}
.companyText {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 159%;
  color: #000000;
}
.companyImgBody {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
